$base-color: #333;

/* Media queries */
@mixin respond-to($val, $query) {

  @media ($val: $query) {
    @content
  }

}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: $base-color;
}

html {
  font-size: 62.5%;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 3.2rem;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 2.8rem;
}

p, li, a, figcaption, form {
  font-size: 1.6rem;
}


nav {
  position: fixed;
  width: 100%;
  left: 0;
  opacity: .6;
  background-color: #000;
  bottom: auto;
  top: 0;
  text-align: left;


  @include respond-to(max-width, 1224px) {
    top: auto;
    bottom: 0;
    text-align: right;
  }

  li {
    display: inline;
  }

  li:hover {
    background-color: #333;
  }

  a {
    color: #fff;
    text-decoration: none;
  }

}


main {


}


.landing {

  background: url(../images/background.svg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  h1 {
    color: #aaa;
  }

  h2 {
    color: #aaa;
  }


}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $base-color;
  padding: 5% 5%;

  img {
    max-width: 20%;
    border: 1px solid #000;
  }

  p {
    max-width: 80%;
  }

  .skillsList {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }

  li {
    //list-style: circle;
  }

}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid $base-color;
  padding: 5% 5%;
}

.portfolio_projects {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
  align-content: center;

  .project {

      display: flex;
      width: 400px;

    figure {
      max-width: 80%;
      border: 1px solid $base-color;
    }

    img {
      width: 100%;
      height: auto;
      border-bottom: 1px solid $base-color;
     }

    figcaption {
      text-align: center;
    }
  }



}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid $base-color;
  padding: 5% 5%;

  .contactlinks {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    width: 60%;
  }

}



form {
  margin-top: 5%;
  background-color: grey;
  padding: 10px 10px;

  * {
    display: block;
  }

}


footer {
  background: url(../images/background.svg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  padding: 10px;
  min-height: 200px;
  text-align: center;
}

.scrollArrowDown {
	width: 60px;
	height: 75px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: 50px;
}

.scrollArrowDown path {
	stroke: $base-color;
	fill: transparent;
	stroke-width: 5px;
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite;
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}


.scrollArrowDown path.arrow1 {
	animation-delay:-1s;
}

.scrollArrowDown path.arrow2 {
	animation-delay:-0.5s;
}

.scrollArrowDown path.arrow3 {
	animation-delay:0s;
}
